## Importing

In [1]:
import pandas as pd

df = pd.read_csv('../data/dataset.csv', index_col='PES_ID')

## Making Adjustments

In [2]:
df.rename(columns={'EMP_ID_x': 'EMP_ID'}, inplace=True)

In [3]:
df = df.replace({'-REA': 0, 'CIRCUITO': 1, 'PONTUAL': 2})

## Removing duplicate data

In [5]:
DROP_LIST = ['LOCDESCARREGO_DESC', 'EMP_NOME', 'PES_PESOFIM', 'PES_PESOINI', 'COLETA_DESC', 'ESPECCOLETA_DESC', 'EMP_ID_y', 'LOCAL_NOME', 'ROTA_DESC']

df.drop(DROP_LIST, axis=1, inplace=True)

## Removing Missing Values

In [6]:
df.dropna(inplace=True)

## Applying OneHotEncoder on Categorical Columns

In [7]:
df = pd.get_dummies(df, prefix=['TPVEICULO_DESC'], columns=['TPVEICULO_DESC'])

## Our Results

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119801 entries, 0 to 119800
Data columns (total 25 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   _id                                    119801 non-null  int64
 1   LOCDESCARREGO_ID                       119801 non-null  int64
 2   EMP_ID                                 119801 non-null  int64
 3   ROTA_ID                                119801 non-null  object
 4   PES_DATAINI                            119801 non-null  object
 5   PES_HRINI                              119801 non-null  object
 6   PES_DATAFIM                            119801 non-null  object
 7   PES_HRFIM                              119801 non-null  object
 8   PES_PESOUTIL                           119801 non-null  int64
 9   COLETA_ID                              119801 non-null  int64
 10  ESPECCOLETA_ID                         119801 non-null  int64
 11  PERCUSSO_I                             119801 non-null  float64
 12  LOCAL_ID                               119801 non-null  int64
 13  TPCIRCUITO_DESC                        119801 non-null  int64
 14  TPVEICULO_DESC_CAMINHAO BAU            119801 non-null  bool
 15  TPVEICULO_DESC_CAMINHAO CACAMBA        119801 non-null  bool
 16  TPVEICULO_DESC_CAMINHAO CACAMBA 12 M3  119801 non-null  bool
 17  TPVEICULO_DESC_CAMINHAO COMPACTADOR    119801 non-null  bool
 18  TPVEICULO_DESC_CAMINHO POLI-ROLON      119801 non-null  bool
 19  TPVEICULO_DESC_CARROCERIA MADEIRA      119801 non-null  bool
 20  TPVEICULO_DESC_JATO SUCO               119801 non-null  bool
 21  TPVEICULO_DESC_MUNCK                   119801 non-null  bool
 22  TPVEICULO_DESC_POLIGUINDASTE           119801 non-null  bool
 23  TPVEICULO_DESC_ROOL ON OFF             119801 non-null  bool
 24  TPVEICULO_DESC_VIATURA LEVE            119801 non-null  bool
dtypes: bool(11), float64(1), int64(8), object(5)
memory usage: 15.0+ MB

In [9]:
df.head()

,_id,LOCDESCARREGO_ID,EMP_ID,ROTA_ID,PES_DATAINI,PES_HRINI,PES_DATAFIM,PES_HRFIM,PES_PESOUTIL,COLETA_ID,...,TPVEICULO_DESC_CAMINHAO CACAMBA,TPVEICULO_DESC_CAMINHAO CACAMBA 12 M3,TPVEICULO_DESC_CAMINHAO COMPACTADOR,TPVEICULO_DESC_CAMINHO POLI-ROLON,TPVEICULO_DESC_CARROCERIA MADEIRA,TPVEICULO_DESC_JATO SUCO,TPVEICULO_DESC_MUNCK,TPVEICULO_DESC_POLIGUINDASTE,TPVEICULO_DESC_ROOL ON OFF,TPVEICULO_DESC_VIATURA LEVE
PES_ID,,,,,,,,,,,,,,,,,,,,,
0,1,7,708,0411,2014-12-31T00:00:00,2016-12-01T23:57:01,2015-01-01T00:00:00,2016-12-01T00:12:06,9640,1,...,False,False,True,False,False,False,False,False,False,False
1,850,7,708,0411,2014-12-30T00:00:00,2016-12-01T01:27:00,2014-12-30T00:00:00,2016-12-01T01:42:32,9100,1,...,False,False,True,False,False,False,False,False,False,False
2,1657,7,708,0411,2014-12-27T00:00:00,2016-12-01T04:47:05,2014-12-27T00:00:00,2016-12-01T05:01:09,3480,1,...,False,False,True,False,False,False,False,False,False,False
3,1703,7,708,0411,2014-12-27T00:00:00,2016-12-01T01:29:54,2014-12-27T00:00:00,2016-12-01T01:43:34,9370,1,...,False,False,True,False,False,False,False,False,False,False
4,2273,7,708,0411,2014-12-25T00:00:00,2016-12-01T07:10:07,2014-12-25T00:00:00,2016-12-01T07:23:23,9460,1,...,False,False,True,False,False,False,False,False,False,False

## Exporting

In [10]:
df.to_csv('../data/preprocessed.csv', index=True)